{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}


{{! Jumbotron }}
<div class="jumbotron main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 scroll-fade">
        <h1 class="page-title">{{@blog.title}}</h1>
        <p class="lead">{{@blog.description}}</p>
      </div><!-- /.col-sm-12 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.jumbotron -->


{{! Contents }}
<div class="content container post-list">
  <div class="row">


    {{! Main }}
    <main class="main col-sm-12" role="main">

      <div class="page-content">
      {{> "loop"}}
      </div><!-- /.page-content -->

    </main><!-- /.main -->


  </div><!-- /.row -->
</div><!-- /.container -->